<div class="white trans-toggle"><!--[class.trans-toggle]="navVisible"-->

  <button data-activates="nav-mobile" class="c-hamburger c-hamburger--htx button-collapse top-nav full">
    <span>toggle menu</span><p>Menu</p>
  </button>

  <nav>

    <a class="brand-logo" href="index.html" id="logo-container"></a>

    <ul class="right">

      <li class="search-nav">
        <div class="search-wrapper card">
          <input id="search-nav">
          <div class="search-results"></div>
        </div>
      </li><!-- search box -->

      <li class="block-icon search-icon">
        <i class="material-icons">search</i>
      </li><!-- search icon -->

      <li class="block-icon user">
        <div class="user-info">

          <a class="close-user-info" href="javascript:showUserInfo();"><i class="material-icons">clear</i></a>

          <h3>Frédéric EPPLER (vitrinellis)</h3>
          <p><strong>SUPER ADMIN</strong></p>
          <p><a href="javascript:void(0);">Déconnexion</a></p>

        </div><!-- user-info -->
        <a href="javascript:showUserInfo();"><i class="material-icons">perm_identity</i></a>
      </li>
    </ul>

  </nav><!-- nav -->

</div><!-- white -->

<main class="main trans-toggle animated flipInX"><!--[class.trans-toggle]="navVisible"-->

  <div class="search">
    <div class="search-wrapper card">
      <input id="search">
      <i class="material-icons">search</i>
      <div class="search-results"></div>
    </div>
  </div><!-- search box -->

  <div class="container banner-container">

    <div class="parallax-container">

      <div class="valign-wrapper center text-overlay">
        <div class="valign">
          <h4>Vous souhaitez rester au top ou booster votre positionnement&nbsp;?<br>Découvrez nos solutions de référencement.</h4>
          <a href="tel:0143537266" class="waves-effect waves-light btn-large">01 43 53 72 66</a>
        </div>
      </div>

      <div class="parallax">
        <img src="app/images/banner-seo.jpg" alt="Banner SEO">
      </div>

    </div><!-- parallax-container -->

    <nav id="breadcrumb">
      <div class="nav-wrapper">
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
      </div>
    </nav><!-- breadcrumb -->

    <h1 class="header"><i class="material-icons">mail_outline</i>Alertes Emails</h1>

    <div class="options">
      <div class="block-icon"><a href="javascript:void(0);">PDF</a></div>
      <div class="block-icon"><a href="javascript:void(0);"><i class="material-icons">arrow_downward</i></a></div>
    </div>

    <p>
      <em>6 alertes(s)</em>
    </p>

  </div><!-- container -->

  <div class="container table-container">

    <table class="responsive-table striped">

      <thead>
        <tr>
          <th class="info">Date</th>
          <th class="info">Contacts relancés</th>
          <th class="info">Annonces relancées</th>
          <th class="info">(dont ventes)</th>
          <th class="info">(dont locations)</th>
        </tr>
      </thead>

      <tbody>
      <tr>
        <td>06/05/2016</td>
        <td><strong>0</strong></td>
        <td><strong>0</strong></td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>05/05/2016</td>
        <td><strong>34</strong></td>
        <td><strong>49</strong></td>
        <td>0</td>
        <td>49</td>
      </tr>
      <tr>
        <td>04/05/2016</td>
        <td><strong>2</strong></td>
        <td><strong>2</strong></td>
        <td>2</td>
        <td>0</td>
      </tr>
      <tr>
        <td>03/05/2016</td>
        <td><strong>0</strong></td>
        <td><strong>0</strong></td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>02/05/2016</td>
        <td><strong>1</strong></td>
        <td><strong>1</strong></td>
        <td>1</td>
        <td>0</td>
      </tr>
      <tr>
        <td>01/05/2016</td>
        <td><strong>15</strong></td>
        <td><strong>38</strong></td>
        <td>38</td>
        <td>0</td>
      </tr>
      </tbody>

    </table><!-- table -->

  </div><!-- container -->

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright Vitrinellis 2016.
      </div>
    </div>
  </footer>

</main><!-- main -->
