<div class="white trans-toggle"><!--[class.trans-toggle]="navVisible"-->

  <button data-activates="nav-mobile" class="c-hamburger c-hamburger--htx button-collapse top-nav full">
    <span>toggle menu</span><p>Menu</p>
  </button>

  <nav>

    <a class="brand-logo" href="index.html" id="logo-container"></a>

    <ul class="right">

      <li class="search-nav">
        <div class="search-wrapper card">
          <input id="search-nav">
          <div class="search-results"></div>
        </div>
      </li><!-- search box -->

      <li class="block-icon search-icon">
        <i class="material-icons">search</i>
      </li><!-- search icon -->

      <li class="block-icon user">
        <div class="user-info">

          <a class="close-user-info" href="javascript:showUserInfo();"><i class="material-icons">clear</i></a>

          <h3>Frédéric EPPLER (vitrinellis)</h3>
          <p><strong>SUPER ADMIN</strong></p>
          <p><a href="javascript:void(0);">Déconnexion</a></p>

        </div><!-- user-info -->
        <a href="javascript:showUserInfo();"><i class="material-icons">perm_identity</i></a>
      </li>
    </ul>

  </nav><!-- nav -->

</div><!-- white -->

<main class="main trans-toggle animated slideInLeft"><!--[class.trans-toggle]="navVisible"-->

  <div class="search">
    <div class="search-wrapper card">
      <input id="search">
      <i class="material-icons">search</i>
      <div class="search-results"></div>
    </div>
  </div><!-- search box -->

  <div class="container banner-container">

    <div class="parallax-container">

      <div class="valign-wrapper center text-overlay">
        <div class="valign">
          <h4>Vous souhaitez rester au top ou booster votre positionnement&nbsp;?<br>Découvrez nos solutions de référencement.</h4>
          <a href="tel:0143537266" class="waves-effect waves-light btn-large">01 43 53 72 66</a>
        </div>
      </div>

      <div class="parallax">
        <img src="app/images/banner-seo.jpg" alt="Banner SEO">
      </div>

    </div><!-- parallax-container -->

    <nav id="breadcrumb">
      <div class="nav-wrapper">
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
      </div>
    </nav><!-- breadcrumb -->

    <h1 class="header"><i class="material-icons">mode_comment</i>Avis Utilisateurs</h1>

    <div class="options">
      <div class="block-icon"><a href="javascript:void(0);">PDF</a></div>
      <div class="block-icon"><a href="javascript:void(0);"><i class="material-icons">arrow_downward</i></a></div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <select id="filtrer" name="filtrer">
          <option value="" disabled selected>Filtrer</option>
          <option value="242">charlotte@epplerimmo.com</option>
          <option value="113">contact@epplerimmo.com</option>
          <option value="28">feppler@facilogi.com</option>
          <option value="205">laurent@epplerimmo.com</option>
          <option value="241">maf@epplerimmo.com</option>
          <option value="211">sybille@epplerimmo.com</option>
          <option value="206">thierry@epplerimmo.com</option>
        </select>
      </div><!-- filter results -->
    </div>

    <p><em>3 élément(s)</em></p>

  </div><!-- container -->

  <div class="container table-container">

    <table class="responsive-table striped">

      <thead>
        <tr>
          <th data-field="date">Date</th>
          <th data-field="agent">Agent</th>
          <th data-field="utilisateur">Utilisateur</th>
          <th data-field="message">Message</th>
          <th data-field="accepte">Accepté</th>
          <th data-field="reponse">Réponse</th>
          <th data-field="#"></th>
        </tr>
      </thead>

      <tbody>
      <tr>
        <td>16/03/2016 08:56:15</td>
        <td>Thierry FAIVRE</td>
        <td>SJ</td>
        <td><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="enfin un professionnel, à l'écoute, qui sais doser les relations intelligemment, et connait parfaitement son secteur.">Voir message</a>
        <td><strong></strong></td>
        <td></td>
        <td>
          <a href="edit_user_avis.html" class="waves-effect waves-light btn"><i class="material-icons">create</i></a>
        </td>
      </tr>
      <tr>
        <td>16/03/2016 08:55:58</td>
        <td>Thierry FAIVRE</td>
        <td>SJ</td>
        <td><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="enfin un professionnel, à l'écoute, qui sais doser les relations intelligemment, et connait parfaitement son secteur.">Voir message</a>
        <td><strong></strong></td>
        <td></td>
        <td>
          <a href="edit_user_avis.html" class="waves-effect waves-light btn"><i class="material-icons">create</i></a>
        </td>
      </tr>
      <tr>
        <td>17/09/2015 18:34:01</td>
        <td>Frédéric EPPLER</td>
        <td>fred</td>
        <td><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="jkhjdldhze">Voir message</a></td>
        <td><strong></strong></td>
        <td><a class="tooltipped" data-position="top" data-delay="50" data-tooltip="super nkledioiodjaiojdaoid dopzadaz&quot;op^duopazdopzau dzoapjdopz&quot;opdfuoapz">Voir réponse</a></td>
        <td>
          <a href="edit_user_avis.html" class="waves-effect waves-light btn"><i class="material-icons">create</i></a>
        </td>
      </tr>
      </tbody>

    </table><!-- table -->

  </div><!-- container -->

  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright Vitrinellis 2016.
      </div>
    </div>
  </footer>

</main><!-- main -->
