<div class="white trans-toggle"><!--[class.trans-toggle]="navVisible"-->

    <button data-activates="nav-mobile" class="c-hamburger c-hamburger--htx button-collapse top-nav full">
        <span>toggle menu</span><p>Menu</p>
    </button>

    <nav>

        <a class="brand-logo" href="index.html" id="logo-container"></a>

        <ul class="right">

            <li class="search-nav">
                <div class="search-wrapper card">
                    <input id="search-nav">
                    <div class="search-results"></div>
                </div>
            </li><!-- search box -->

            <li class="block-icon search-icon">
                <i class="material-icons">search</i>
            </li><!-- search icon -->

            <li class="block-icon user">
                <div class="user-info">

                    <a class="close-user-info" href="javascript:showUserInfo();"><i class="material-icons">clear</i></a>

                    <h3>Frédéric EPPLER (vitrinellis)</h3>
                    <p><strong>SUPER ADMIN</strong></p>
                    <p><a href="javascript:void(0);">Déconnexion</a></p>

                </div><!-- user-info -->
                <a href="javascript:showUserInfo();"><i class="material-icons">perm_identity</i></a>
            </li>

        </ul>

    </nav><!-- nav -->

</div><!-- white -->

<main class="main trans-toggle animated bounceInUp"><!--[class.trans-toggle]="navVisible"-->

    <div class="search">
        <div class="search-wrapper card">
            <input id="search">
            <i class="material-icons">search</i>
            <div class="search-results"></div>
        </div>
    </div><!-- search box -->

    <div class="container banner-container">

        <div class="parallax-container">

            <div class="valign-wrapper center text-overlay">
                <div class="valign">
                    <h4>Vous souhaitez rester au top ou booster votre positionnement&nbsp;?<br>Découvrez nos solutions de référencement.</h4>
                    <a href="tel:0143537266" class="waves-effect waves-light btn-large">01 43 53 72 66</a>
                </div>
            </div>

            <div class="parallax">
                <img src="app/images/banner-seo.jpg" alt="Banner SEO">
            </div>

        </div><!-- parallax-container -->

        <nav id="breadcrumb">
            <div class="nav-wrapper">
                <a href="#!" class="breadcrumb">First</a>
                <a href="#!" class="breadcrumb">Second</a>
                <a href="#!" class="breadcrumb">Third</a>
            </div>
        </nav><!-- breadcrumb -->

        <h1 class="header"><i class="material-icons">subject</i>Leads</h1>

        <div class="options">
            <div class="block-icon"><a href="javascript:void(0);">PDF</a></div>
            <div class="block-icon"><a href="javascript:void(0);"><i class="material-icons">arrow_downward</i></a></div>
        </div>

        <p><em>503 élément(s)</em></p>

        <div class="row">
            <div class="input-field col s12 m6">
                <select id="filtrer" name="filtrer">
                    <option value="" disabled selected>Filtrer</option>
                    <option value="contact">Formulaire de contact</option>
                    <option value="valuation">Demande d'estimation</option>
                    <option value="alert">Alerte e-mail</option>
                    <option value="reco_ann">Recommandation d'annonce</option>
                    <option value="resp_ann">Réponse à une annonce</option>
                    <option value="price_sold">Demande de prix de vente</option>
                    <option value="new_program">Demande d'information programme neuf</option>
                    <option value="new_program_lot">Demande d'information lot programme neuf</option>
                </select>
            </div><!-- filter results -->
        </div><!-- row -->

    </div><!-- container -->

    <div class="container table-container">

        <table class="responsive-table striped">

            <thead>
            <tr>
                <th data-field="date">Date</th>
                <th data-field="type">Type</th>
                <th data-field="nom">Nom</th>
                <th data-field="courriel">Courriel</th>
                <th data-field="telephone">Téléphone</th>
                <th data-field="adresse">Adresse</th>
                <th data-field="message">Message</th>
                <th data-field="type-bien">Type</th>
                <th data-field="chambres">Chambres</th>
                <th data-field="pieces">Pièces</th>
                <th data-field="surface">Surface</th>
                <th data-field="courriel-amie">Courriel 'Ami(e)'</th>
                <th data-field="transaction">Transaction</th>
                <th data-field="budget">Budget</th>
                <th data-field="zone">Zone Recherche</th>
                <th data-field="propriete">Propriété</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>03/05/2016 22:14:13</td>
                <td><strong>Alerte e-mail</strong></td>
                <td>leroy</td>
                <td><a href="mailto:gaellelouzis@yahoo.fr">gaellelouzis@yahoo.fr</a></td>
                <td>0625910660</td>
                <td>FR</td>
                <td></td>
                <td>Appartement</td>
                <td>3</td>
                <td>4</td>
                <td>70</td>
                <td><a href="mailto:"></a></td>
                <td>location</td>
                <td>1.400,00</td>
                <td>Maisons-alfort</td>
                <td></td>
            </tr>
            <tr>
                <td>03/05/2016 22:14:13</td>
                <td><strong>Alerte e-mail</strong></td>
                <td>leroy</td>
                <td><a href="mailto:gaellelouzis@yahoo.fr">gaellelouzis@yahoo.fr</a></td>
                <td>0625910660</td>
                <td>FR</td>
                <td></td>
                <td>Appartement</td>
                <td>3</td>
                <td>4</td>
                <td>70</td>
                <td><a href="mailto:"></a></td>
                <td>location</td>
                <td>1.400,00</td>
                <td>Maisons-alfort</td>
                <td></td>
            </tr>
            <tr>
                <td>03/05/2016 22:14:13</td>
                <td><strong>Alerte e-mail</strong></td>
                <td>leroy</td>
                <td><a href="mailto:gaellelouzis@yahoo.fr">gaellelouzis@yahoo.fr</a></td>
                <td>0625910660</td>
                <td>FR</td>
                <td></td>
                <td>Appartement</td>
                <td>3</td>
                <td>4</td>
                <td>70</td>
                <td><a href="mailto:"></a></td>
                <td>location</td>
                <td>1.400,00</td>
                <td>Maisons-alfort</td>
                <td></td>
            </tr>
            <tr>
                <td>03/05/2016 22:14:13</td>
                <td><strong>Alerte e-mail</strong></td>
                <td>leroy</td>
                <td><a href="mailto:gaellelouzis@yahoo.fr">gaellelouzis@yahoo.fr</a></td>
                <td>0625910660</td>
                <td>FR</td>
                <td></td>
                <td>Appartement</td>
                <td>3</td>
                <td>4</td>
                <td>70</td>
                <td><a href="mailto:"></a></td>
                <td>location</td>
                <td>1.400,00</td>
                <td>Maisons-alfort</td>
                <td></td>
            </tr>
            <tr>
                <td>03/05/2016 22:14:13</td>
                <td><strong>Alerte e-mail</strong></td>
                <td>leroy</td>
                <td><a href="mailto:gaellelouzis@yahoo.fr">gaellelouzis@yahoo.fr</a></td>
                <td>0625910660</td>
                <td>FR</td>
                <td></td>
                <td>Appartement</td>
                <td>3</td>
                <td>4</td>
                <td>70</td>
                <td><a href="mailto:"></a></td>
                <td>location</td>
                <td>1.400,00</td>
                <td>Maisons-alfort</td>
                <td></td>
            </tr>
            <tr>
                <td>03/05/2016 22:14:13</td>
                <td><strong>Alerte e-mail</strong></td>
                <td>leroy</td>
                <td><a href="mailto:gaellelouzis@yahoo.fr">gaellelouzis@yahoo.fr</a></td>
                <td>0625910660</td>
                <td>FR</td>
                <td></td>
                <td>Appartement</td>
                <td>3</td>
                <td>4</td>
                <td>70</td>
                <td><a href="mailto:"></a></td>
                <td>location</td>
                <td>1.400,00</td>
                <td>Maisons-alfort</td>
                <td></td>
            </tr>
            <tr>
                <td>03/05/2016 22:14:13</td>
                <td><strong>Alerte e-mail</strong></td>
                <td>leroy</td>
                <td><a href="mailto:gaellelouzis@yahoo.fr">gaellelouzis@yahoo.fr</a></td>
                <td>0625910660</td>
                <td>FR</td>
                <td></td>
                <td>Appartement</td>
                <td>3</td>
                <td>4</td>
                <td>70</td>
                <td><a href="mailto:"></a></td>
                <td>location</td>
                <td>1.400,00</td>
                <td>Maisons-alfort</td>
                <td></td>
            </tr>
            <tr>
                <td>03/05/2016 22:14:13</td>
                <td><strong>Alerte e-mail</strong></td>
                <td>leroy</td>
                <td><a href="mailto:gaellelouzis@yahoo.fr">gaellelouzis@yahoo.fr</a></td>
                <td>0625910660</td>
                <td>FR</td>
                <td></td>
                <td>Appartement</td>
                <td>3</td>
                <td>4</td>
                <td>70</td>
                <td><a href="mailto:"></a></td>
                <td>location</td>
                <td>1.400,00</td>
                <td>Maisons-alfort</td>
                <td></td>
            </tr>
            <tr>
                <td>03/05/2016 22:14:13</td>
                <td><strong>Alerte e-mail</strong></td>
                <td>leroy</td>
                <td><a href="mailto:gaellelouzis@yahoo.fr">gaellelouzis@yahoo.fr</a></td>
                <td>0625910660</td>
                <td>FR</td>
                <td></td>
                <td>Appartement</td>
                <td>3</td>
                <td>4</td>
                <td>70</td>
                <td><a href="mailto:"></a></td>
                <td>location</td>
                <td>1.400,00</td>
                <td>Maisons-alfort</td>
                <td></td>
            </tr>
            </tbody>

        </table><!-- table -->

    </div><!-- container -->

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                &copy; Copyright Vitrinellis 2016.
            </div>
        </div>
    </footer>

</main><!-- main -->